@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F5F5F5;
}

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    background: #01162F;
}

.nav-brand{
    font-weight: 800;
    font-size: 30px;
}

.nav-item{
    margin-right: 40px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

#basic-nav-dropdown{
    color: #FFFFFF !important; 
    font-weight: 500 !important;
    text-decoration: none !important;
    list-style: none !important;
}

.nav-profile .profile-admin{
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-profile .profile-admin .stand-line-navbar{
    margin-right: 10px;
    height: 30px;
}

.nav-profile .profile-admin .profile-admin-image{
    margin-right: 10px;
    height: 30px;
}

.nav-item:hover{
    font-weight: 600;
    color: #FFFFFF;
}

#basic-nav-dropdown{
    color: #FFFFFF !important; 
    font-weight: 600 !important;
}

.nav-item i{
    margin-right: 10px;
}


/* ---------- End Navbar ---------- */


/* ---------- Header Content ---------- */

#header-warehouse-content {
    margin: 0;
    height: 70vh;
    background-color: #01162F;
}

#header-warehouse-content .header-warehouse-greetings h1{
    margin: 10% 0 0;
    font-weight: 700;
    color: #FFFFFF;
}

#header-warehouse-content .header-warehouse-greetings p{
    margin: 1% 0;
    color: #FFFFFF;
}

#header-warehouse-content .header-choose-analytics{
    margin: 6% 0 0;
}

.header-choose-analytics .btn-choose-analytics{
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s all ease-in-out;
}

.header-choose-analytics .active{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s all ease-in-out;
}

.header-choose-analytics .btn-choose-analytics:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
}

#header-warehouse-content hr{
    margin: 2% 0 4%;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
}

/* ---------- End Header Content ---------- */


/* ---------- Card Result Content  ---------- */

#warehouse-overview{
    position: relative;
}

.card-result-total{
    margin: -8% 0 0;
}

.card-result-total .card{
    height: 100%;
    width: 100%;
    padding: 4%;
}

.card-result-total .card-title{
    font-weight: 600;
}

.card-result-total .card-text{
    margin: 30px 0 0;
}

.card-result-total .bi-shop{
    padding: 14px 18px;
    background-color: #0078FD;
    color: #FFFFFF;
    border-radius: 50px;
}

.card-result-total .bi-cash-coin{
    padding: 14px 18px;
    background-color: #FF623E;
    color: #FFFFFF;
    border-radius: 50px;
}

.card-result-total .bi-cart-check{
    padding: 14px 18px;
    background-color: #FC026C;
    color: #FFFFFF;
    border-radius: 50px;
}

.card-analytics-diagram{
    margin: 6% 0;
}

.card-analytics-diagram .card{
    height: 100%;
    width: 100%;
}

/* ---------- End Card Result Content  ---------- */